@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: visible;
  margin: 0;
  padding: 0;
}


.main_bg {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    95deg,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 50%
  );
}

.btn_primary {
  background: rgb(183, 92, 255);
  background: linear-gradient(
    193deg,
    #6e46d5 15%,
    #937BD0 89%
  );
}

.btn_primary_outline {
  background: transparent;
  border: 3px solid
    linear-gradient(
      193deg,
      rgba(183, 92, 255, 1) 15%,
      rgba(103, 26, 228, 1) 89%
    );
}

